@page "/auditLog"
@using BlazorAdmin.Servers.Core.Data.Constants
@using BlazorAdmin.Servers.Core.Helper

@rendermode RenderMode.InteractiveServer
@attribute [StreamRendering]

<PageHeader Title="@Loc["AuditLogPage_Title"]">

    <MudGrid Spacing="2" Justify="Justify.FlexStart">
        <MudItem xs="12" sm="6" md="3">
            <MudTextField Label="@Loc["AuditLogPage_TableH2"]" Clearable Margin="Margin.Dense"
                          @bind-Value="searchObject.InputTransaction" Variant="Variant.Outlined" Class="search-com w-100"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH3"]" Margin="Margin.Dense"
                       AnchorOrigin="Origin.BottomCenter" @bind-Value="searchObject.SelectedUser" Clearable Variant="Variant.Outlined"
                       Class="search-com w-100">
                @foreach (var o in Operators)
                {
                    <MudSelectItem Value="@o.Id.ToString()">@o.UserName</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH4"]" Margin="Margin.Dense"
                       AnchorOrigin="Origin.BottomCenter" @bind-Value="searchObject.SelectedOperateTarget" Clearable Variant="Variant.Outlined"
                       Class="search-com w-100">
                @foreach (var o in OperateTargets)
                {
                    <MudSelectItem Value="@o.EntityName">@o.DisplayName</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH5"]" Margin="Margin.Dense"
                       AnchorOrigin="Origin.BottomCenter" @bind-Value="searchObject.SelectedOperation" Clearable Variant="Variant.Outlined"
                       Class="search-com w-100">
                <MudSelectItem Value="@("2")">
                    @Loc["AuditLogPage_OperationDelete"]
                </MudSelectItem>
                <MudSelectItem Value="@("3")">
                    @Loc["AuditLogPage_OperationModify"]
                </MudSelectItem>
                <MudSelectItem Value="@("4")">
                    @Loc["AuditLogPage_OperationCreate"]
                </MudSelectItem>
            </MudSelect>
        </MudItem>
    </MudGrid>

    <div class="mt-3 d-flex">
        <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Search" OnClick="@(()=>dataGrid.ReloadServerData())"
                       Variant="Variant.Outlined" Color="Color.Primary" Class="mr-2"></MudIconButton>
        <MudTooltip Text="重置搜索" Color="Color.Primary">
            <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.SearchOff" OnClick="SearchReset"
                           Variant="Variant.Outlined" Color="Color.Primary"></MudIconButton>
        </MudTooltip>
    </div>

    @if (_notEmptyCount > 0)
    {
        <MudBadge Content="@_notEmptyCount" Overlap="true" Color="Color.Primary" Bordered="true" Class="mr-3">
            <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Search"
                           OnClick="ShowSearchDialog"
                           Variant="Variant.Outlined" Color="Color.Primary" Class=""></MudIconButton>
        </MudBadge>
    }
    else
    {
        <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Search"
                       OnClick="ShowSearchDialog"
                       Variant="Variant.Outlined" Color="Color.Primary" Class="mr-3"></MudIconButton>
    }
    <MudTooltip Text="刷新" Color="Color.Primary">
        <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Refresh" OnClick="Refresh"
                       Variant="Variant.Outlined" Color="Color.Primary" Class="mr-3"></MudIconButton>
    </MudTooltip>
    <MudTooltip Text="重置搜索" Color="Color.Primary">
        <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.SearchOff" OnClick="SearchReset"
                       Variant="Variant.Outlined" Color="Color.Primary"></MudIconButton>
    </MudTooltip>

</PageHeader>

<MudDataGrid Dense=PageDataGridConfig.Dense Filterable=PageDataGridConfig.Filterable ColumnResizeMode=PageDataGridConfig.ColumnResizeMode
             SortMode=PageDataGridConfig.SortMode Groupable=PageDataGridConfig.Groupable Virtualize=PageDataGridConfig.Virtualize
             FixedHeader=PageDataGridConfig.FixedHeader Elevation=PageDataGridConfig.Elevation Outlined=PageDataGridConfig.Outlined
             Style="@PageDataGridConfig.Style" HorizontalScrollbar="PageDataGridConfig.HorizontalScrollbar"
             ServerData="GetTableData" @ref="dataGrid" T="AuditLogModel">
    <Columns>
        <PropertyColumn Property="x => x.Number" Title="@Loc["AuditLogPage_TableH1"]" StickyLeft="true" Resizable="false"
                        HeaderStyle="white-space:nowrap;width:50px;" />
        <PropertyColumn Property="x => x.TransactionId" Title="@Loc["AuditLogPage_TableH2"]"
                        HeaderStyle="white-space:nowrap;" />
        <PropertyColumn Property="x => x.UserName" Title="@Loc["AuditLogPage_TableH3"]" />
        <PropertyColumn Property="x => x.EntityName" Title="@Loc["AuditLogPage_TableH4"]" HeaderStyle="white-space:nowrap" />
        <TemplateColumn Title="@Loc["AuditLogPage_TableH5"]" HeaderStyle="white-space:nowrap">
            <CellTemplate>
                @if (context.Item.Operation == 2)
                {
                    <MudChip T="string" Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Error">@Loc["AuditLogPage_OperationDelete"]</MudChip>
                }
                else if (context.Item.Operation == 3)
                {
                    <MudChip T="string" Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Warning">@Loc["AuditLogPage_OperationModify"]</MudChip>
                }
                else if (context.Item.Operation == 4)
                {
                    <MudChip T="string" Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Primary">@Loc["AuditLogPage_OperationCreate"]</MudChip>
                }
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.OperateTime" Title="@Loc["AuditLogPage_TableH6"]" />
        <TemplateColumn Title="@Loc["AuditLogPage_TableH7"]" StickyRight="true" CellStyle="text-align:center;" HeaderStyle="white-space:nowrap;width:50px;" Resizable="false">
            <CellTemplate>
                <MudIconButton Size="@MudBlazor.Size.Small" Icon="@IconsConstant.Database" Color="Color.Primary"
                               OnClick="()=>ViewDetail(context.Item.Id)" />
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

<PagePagination PageInfo="searchObject" PageChangedClick="PageChangedClick"></PagePagination>


<MudDialog @bind-Visible="_searchDialogVisible" Options="_dialogOptions">

    <DialogContent>
        <div style="width:400px;overflow:hidden;">
            <MudText Typo="Typo.h6" Class="my-4">@Loc["Search_Text"]</MudText>
            <MudTextField Label="@Loc["AuditLogPage_TableH2"]" Clearable Margin="Margin.Dense"
                          @bind-Value="searchObject.InputTransaction" Variant="Variant.Outlined"
                          Class="mt-2"></MudTextField>
            <MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH3"]" Margin="Margin.Dense"
                       @bind-Value="searchObject.SelectedUser" Clearable Variant="Variant.Outlined"
                       Class="mt-2">
                @foreach (var o in Operators)
                {
                    <MudSelectItem Value="@o.Id.ToString()">@o.UserName</MudSelectItem>
                }
            </MudSelect>
            <MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH4"]" Margin="Margin.Dense"
                       @bind-Value="searchObject.SelectedOperateTarget" Clearable Variant="Variant.Outlined"
                       Class="mt-2">
                @foreach (var o in OperateTargets)
                {
                    <MudSelectItem Value="@o.EntityName">@o.DisplayName</MudSelectItem>
                }
            </MudSelect>
            <MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH5"]" Margin="Margin.Dense"
                       @bind-Value="searchObject.SelectedOperation" Clearable Variant="Variant.Outlined"
                       Class="mt-2">
                <MudSelectItem Value="@("2")">
                    @Loc["AuditLogPage_OperationDelete"]
                </MudSelectItem>
                <MudSelectItem Value="@("3")">
                    @Loc["AuditLogPage_OperationModify"]
                </MudSelectItem>
                <MudSelectItem Value="@("4")">
                    @Loc["AuditLogPage_OperationCreate"]
                </MudSelectItem>
            </MudSelect>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Search">@Loc["Search_Text"]</MudButton>
    </DialogActions>
</MudDialog>