@page "/auditLog"
@using BlazorAdmin.Data.Constants

@rendermode RenderMode.InteractiveServer
@attribute [StreamRendering]

<PageHeader Title="@Loc["AuditLogPage_Title"]">
    <div style="width:140px" class="mr-2">
        <MudTextField Label="@Loc["AuditLogPage_TableH2"]" Clearable Margin="Margin.Dense"
                      @bind-Value="InputTransaction" Variant="Variant.Outlined"></MudTextField>
    </div>
    <div style="width:140px" class="mr-2">
        <MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH3"]" Margin="Margin.Dense"
                   AnchorOrigin="Origin.BottomCenter" @bind-Value="SelectedUser" Clearable Variant="Variant.Outlined">
            @foreach (var o in Operators)
            {
                <MudSelectItem Value="@o.Id.ToString()">@o.UserName</MudSelectItem>
            }
        </MudSelect>
    </div>
    <div style="width:140px" class="mr-2">
        <MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH4"]" Margin="Margin.Dense"
                   AnchorOrigin="Origin.BottomCenter" @bind-Value="SelectedOperateTarget" Clearable Variant="Variant.Outlined">
            @foreach (var o in OperateTargets)
            {
                <MudSelectItem Value="@o.EntityName">@o.DisplayName</MudSelectItem>
            }
        </MudSelect>
    </div>
    <div style="width:140px" class="mr-2">
        <MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH5"]" Margin="Margin.Dense"
                   AnchorOrigin="Origin.BottomCenter" @bind-Value="SelectedOperation" Clearable Variant="Variant.Outlined">
            <MudSelectItem Value="@("2")">
                @Loc["AuditLogPage_OperationDelete"]
            </MudSelectItem>
            <MudSelectItem Value="@("3")">
                @Loc["AuditLogPage_OperationModify"]
            </MudSelectItem>
            <MudSelectItem Value="@("4")">
                @Loc["AuditLogPage_OperationCreate"]
            </MudSelectItem>
        </MudSelect>
    </div>
    <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Search" OnClick="@(()=>dataGrid.ReloadServerData())"
                   Variant="Variant.Outlined" Color="Color.Primary" Class="mr-2"></MudIconButton>
    <MudTooltip Text="重置搜索" Color="Color.Primary">
        <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.SearchOff" OnClick="SearchReset"
                       Variant="Variant.Outlined" Color="Color.Primary"></MudIconButton>
    </MudTooltip>
</PageHeader>

<PageDataGrid T="AuditLogModel" ServerData="GetTableData" @ref="dataGrid">
    <PropertyColumn T="AuditLogModel" TProperty="int" Property="x => x.Number" Title="@Loc["AuditLogPage_TableH1"]" StickyLeft="true" Resizable="false"
                    HeaderStyle="white-space:nowrap;width:50px;" />
    <PropertyColumn T="AuditLogModel" TProperty="Guid" Property="x => x.TransactionId" Title="@Loc["AuditLogPage_TableH2"]"
                    HeaderStyle="white-space:nowrap;" />
    <PropertyColumn T="AuditLogModel" TProperty="string" Property="x => x.UserName" Title="@Loc["AuditLogPage_TableH3"]" />
    <PropertyColumn T="AuditLogModel" TProperty="string" Property="x => x.EntityName" Title="@Loc["AuditLogPage_TableH4"]" HeaderStyle="white-space:nowrap" />
    <TemplateColumn T="AuditLogModel" Title="@Loc["AuditLogPage_TableH5"]" HeaderStyle="white-space:nowrap">
        <CellTemplate>
            @if (context.Item.Operation == 2)
            {
                <MudChip T="string" Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Error">@Loc["AuditLogPage_OperationDelete"]</MudChip>
            }
            else if (context.Item.Operation == 3)
            {
                <MudChip T="string" Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Warning">@Loc["AuditLogPage_OperationModify"]</MudChip>
            }
            else if (context.Item.Operation == 4)
            {
                <MudChip T="string" Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Primary">@Loc["AuditLogPage_OperationCreate"]</MudChip>
            }
        </CellTemplate>
    </TemplateColumn>
    <PropertyColumn T="AuditLogModel" TProperty="DateTime" Property="x => x.OperateTime" Title="@Loc["AuditLogPage_TableH6"]" />
    <TemplateColumn T="AuditLogModel" Title="@Loc["AuditLogPage_TableH7"]" StickyRight="true" CellStyle="text-align:center;" HeaderStyle="white-space:nowrap;width:50px;" Resizable="false">
        <CellTemplate>
            <MudIconButton Size="@MudBlazor.Size.Small" Icon="@IconsConstant.Database" Color="Color.Primary"
                           OnClick="()=>ViewDetail(context.Item.Id)" />
        </CellTemplate>
    </TemplateColumn>
</PageDataGrid>

<PagePagination Page="@Page" Size="@Size" Total="@Total" PageChangedClick="PageChangedClick"></PagePagination>