@page "/user"

@rendermode RenderMode.InteractiveServer
@attribute [StreamRendering]

<PageHeader Title="@Loc["UserPage_Title"]">
    <div style="width:300px">
        <MudTextField T="string" @bind-Value="SearchText" Margin="Margin.Dense" Placeholder="@Loc["UserPage_SearchKeywordPlaceholder"]"></MudTextField>
    </div>
    <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Search" OnClick="InitialData"
                   Variant="Variant.Text" Color="Color.Primary">
    </MudIconButton>
    @if (_accessService.CheckHasElementRights("UserAddBtn").Result)
    {
        <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Add" OnClick="AddUserClick"
                       Variant="Variant.Text" Color="Color.Primary">
        </MudIconButton>
    }
</PageHeader>
<MudTable Class="mb-4" Items="@Users" Hover="true" Breakpoint="Breakpoint.Sm" Outlined="true" Elevation="0"
          LoadingProgressColor="Color.Info" Dense="true" FixedHeader="true" Virtualize="true" Height="calc(100vh - 280px)">
    <ColGroup>
        <col style="min-width:100px;width:100px;max-width:100px;" />
        <col style="min-width:100px;width:100px;max-width:100px;" />
        <col style="min-width:150px;" />
        <col style="min-width:150px;" />
        <col style="min-width:150px;" />
        <col style="min-width:100px;width:100px;max-width:100px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>@Loc["UserPage_TableH1"]</MudTh>
            <MudTh>@Loc["UserPage_TableH2"]</MudTh>
            <MudTh>@Loc["UserPage_TableH3"]</MudTh>
            <MudTh>@Loc["UserPage_TableH6"]</MudTh>
            <MudTh>@Loc["UserPage_TableH4"]</MudTh>
            <MudTh>@Loc["UserPage_TableH5"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="@Loc["UserPage_TableH1"]">@context.Number</MudTd>
            <MudTd DataLabel="@Loc["UserPage_TableH2"]">
                @if (string.IsNullOrEmpty(context.Avatar))
            {
                <MudAvatar Color="Color.Primary">
                    @context.RealName?.First()
                </MudAvatar>
            }
            else
            {
                <MudAvatar>
                    <MudImage Src="@("Avatars/" + context.Avatar)">
                    </MudImage>
                </MudAvatar>
            }
        </MudTd>
        <MudTd DataLabel="@Loc["UserPage_TableH3"]">@context.Name</MudTd>
            <MudTd DataLabel="@Loc["UserPage_TableH6"]">@context.RealName</MudTd>
            <MudTd DataLabel="@Loc["UserPage_TableH4"]">
                <MudSwitch Value="@context.IsEnabled" Disabled="@(!_accessService.CheckHasElementRights("UserActiveBtn").Result)" T="bool"
                           ValueChanged="v => ChangeUserActive(context.Id, v)" Color="Color.Primary">
                </MudSwitch>
            </MudTd>
            <MudTd DataLabel="@Loc["UserPage_TableH5"]">
                <MudStack Row>
                @if (_accessService.CheckHasElementRights("UserUpdateBtn").Result)
                {
                    <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary"
                                   OnClick="() => EditUserClick(context.Id)" />
                }
                @if (_accessService.CheckHasElementRights("UserPwdChangeBtn").Result)
                {
                    <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Outlined.Key" Color="Color.Secondary"
                                   OnClick="() => ChangePasswordClick(context.Id)" />
                }
                @if (_accessService.CheckHasElementRights("UserRoleSettingBtn").Result)
                {
                    <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Outlined.LockPerson" Color="Color.Tertiary"
                                   OnClick="() => SetUserRoleClick(context.Id)" />
                }
                @if (_accessService.CheckHasElementRights("UserDeleteBtn").Result)
                {
                    <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error"
                                   OnClick="() => DeleteUserClick(context.Id)" />
                }
            </MudStack>
        </MudTd>
    </RowTemplate>
</MudTable>

<PagePagination Page="@Page" Size="@Size" Total="@Total" PageChangedClick="PageChangedClick"></PagePagination>