<MudDialog>
    <DialogContent>
        <div style="width:300px;">
            <MudTreeView T="MenuTreeItem" Items="@MenuTreeItemSet" Hover="true">
                <ItemTemplate>
                    <MudTreeViewItem @bind-Expanded="@context.Expanded" Items="@context.Children" Value="@context.Value">
                        <Content>
                            <MudTreeViewItemToggleButton @bind-Expanded="@context.Expanded"
                                                         Visible="context.HasChildren" />
                            <MudCheckBox Value="@context.Value.IsChecked" Dense="true" T="bool"
                                         ValueChanged="@((v) => CheckedChanged(v, context))">
                            </MudCheckBox>
                            <MudText Typo="Typo.subtitle2" Style="user-select:none;">@context.Value.MenuName</MudText>
                            <MudSpacer />
                        </Content>
                    </MudTreeViewItem>
                </ItemTemplate>
            </MudTreeView>

            <div class=" d-flex">
                <MudSpacer />
                <MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Upload" FullWidth="false" Variant="Variant.Text" Color="Color.Primary"
                           OnClick="SubmitRoleMenu">
                    @Loc["RolePage_SubmitText"]
                </MudButton>
            </div>
        </div>
    </DialogContent>
</MudDialog>