@page "/dynamic/{EntityName}"

<div class="d-flex align-center mb-4">
	<MudText Typo="Typo.h5">@Title</MudText>
</div>

<MudTable Class="mb-4" Items="@TableItems" Hover="true" Breakpoint="Breakpoint.Sm"
		  LoadingProgressColor="Color.Info" Dense="true">
	<ColGroup>
		@if (EntityInfo!.HaveNumberColumn)
		{
			<col />
		}
		@foreach (var field in Fields.Where(f => f.IsDisplay))
		{
			<col />
		}
		@if (EntityInfo.AllowEdit || EntityInfo.AllowDelete)
		{
			<col width="120" />
		}
	</ColGroup>
	<HeaderContent>
		@if (EntityInfo!.HaveNumberColumn)
		{
			<MudTh>#</MudTh>
		}
		@foreach (var field in Fields.Where(f => f.IsDisplay))
		{
			<MudTh>@field.Title</MudTh>
		}
		@if (EntityInfo.AllowEdit || EntityInfo.AllowDelete)
		{
			<MudTh></MudTh>
		}
	</HeaderContent>
	<RowTemplate>
		@if (EntityInfo!.HaveNumberColumn)
		{
			<MudTd DataLabel="#">@((Page - 1) * Size + TableItems.IndexOf(context) + 1)</MudTd>
		}
		@foreach (var field in Fields.Where(f => f.IsDisplay))
		{
			<MudTd DataLabel="@field.Name">@(((IDictionary<string, object>)context)[field.Name!])</MudTd>
		}
		@if (EntityInfo.AllowEdit || EntityInfo.AllowDelete)
		{
			<MudTd DataLabel="">
				@if (EntityInfo.AllowEdit)
				{
					<MudIconButton Size="MudBlazor.Size.Small" Icon="@Icons.Material.Filled.Edit"></MudIconButton>
				}
				@if (EntityInfo.AllowDelete)
				{
					<MudIconButton Size="MudBlazor.Size.Small" Icon="@Icons.Material.Filled.Delete" OnClick="()=>DeleteOneRecord(context)"></MudIconButton>
				}
			</MudTd>
		}
	</RowTemplate>
</MudTable>

<div class="d-flex align-center">
	@if (EntityInfo!.AllowAdd)
	{
		<MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add" OnClick="AddOneRecord">添加一条记录</MudButton>
	}
	<MudSpacer />
	<MudPagination Color="Color.Primary" Count="@((Total - 1)/Size + 1)" Selected="@Page" SelectedChanged="PageChangedClick" />
</div>