<MudDialog DisableSidePadding="false">
	<DialogContent>
		<div style="width:300px;" class="pb-4 mt-4">
			<MudText Typo="Typo.h6">
				编辑@(Title)
			</MudText>
			<MudForm @ref="FormRef" @bind-IsValid="@Success" @bind-Errors="@Errors">
				@foreach (var property in EntityInfo.DynamicPropertyInfos
						.OrderBy(p => p.Order).Where(p => p.IsDisplay))
				{
					if (property.PropertyType == typeof(int))
					{
						<MudNumericField T="int" Label="@property.Title" Value="FormValueDic[property.PropertyName]" @ref="FormControlDic[property.PropertyName]" />
					}
					else if (property.PropertyType == typeof(string))
					{
						<MudTextField T="string" Label="@property.Title" Value="FormValueDic[property.PropertyName]" @ref="FormControlDic[property.PropertyName]" />
					}
					else if (property.PropertyType == typeof(bool))
					{
						<MudSwitch T="bool" Label="@property.Title" Color="Color.Primary" Checked="FormValueDic[property.PropertyName]"
						@ref="FormControlDic[property.PropertyName]" CheckedChanged="()=>{FormValueDic[property.PropertyName] = !FormValueDic[property.PropertyName];}" />
					}
				}
			</MudForm>
			<div class="d-flex align-center mt-4">
				<MudSpacer />
				<MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Upload"
						   DisableElevation="true" OnClick="FormSubmit">提交</MudButton>
			</div>
		</div>
	</DialogContent>
</MudDialog>