@page "/loginLog"

@rendermode RenderMode.InteractiveServer

<PageHeader Title="@Loc["LoginLogPage_Title"]">
    <div style="width:200px" class="mr-2">
        <MudTextField @bind-Value="SearchedLoginName" Label="@Loc["LoginLogPage_TableH2"]" Clearable="true"
                      Margin="Margin.Dense" Variant="Variant.Text"></MudTextField>
    </div>
    <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Search" OnClick="()=>dataGrid.ReloadServerData()"
                   Variant="Variant.Text" Color="Color.Primary"></MudIconButton>
    <MudTooltip Text="重置搜索">
        <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.SearchOff" OnClick="SearchReset"
                       Variant="Variant.Text" Color="Color.Primary"></MudIconButton>
    </MudTooltip>
</PageHeader>

<PageDataGrid T="LoginLogModel" ServerData="GetTableData" @ref="dataGrid">
    <PropertyColumn T="LoginLogModel" TProperty="int" Property="x => x.Number" Title="@Loc["LoginLogPage_TableH1"]" StickyLeft="true"
                    HeaderStyle="white-space:nowrap;width:40px;" Resizable="false" />
    <PropertyColumn T="LoginLogModel" TProperty="string" Property="x => x.UserName" Title="@Loc["LoginLogPage_TableH2"]"
                    HeaderStyle="white-space:nowrap" />
    <PropertyColumn T="LoginLogModel" TProperty="DateTime" Property="x => x.Time" Title="@Loc["LoginLogPage_TableH3"]"
                    HeaderStyle="white-space:nowrap" CellStyle="white-space:nowrap" />
    <PropertyColumn T="LoginLogModel" TProperty="string" Property="x => x.Ip" Title="@Loc["LoginLogPage_TableH4"]"
                    HeaderStyle="white-space:nowrap" />
    <TemplateColumn T="LoginLogModel" Title="@Loc["LoginLogPage_TableH5"]" HeaderStyle="white-space:nowrap">
        <CellTemplate>
            @if (context.Item.IsSuccessd)
            {
                <MudChip Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Primary">@Loc["LoginLogPage_LoginSuccess"]</MudChip>
            }
            else
            {
                <MudChip Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Error">@Loc["LoginLogPage_LoginFail"]</MudChip>
            }
        </CellTemplate>
    </TemplateColumn>
    <PropertyColumn T="LoginLogModel" TProperty="string" Property="x => x.Agent" Title="@Loc["LoginLogPage_TableH6"]" Resizable="false"
                    HeaderStyle="white-space:nowrap;width:250px;" CellStyle="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" />
</PageDataGrid>

<PagePagination Page="@Page" Size="@Size" Total="@Total" PageChangedClick="PageChangedClick"></PagePagination>