@page "/loginLog"
@using BlazorAdmin.Servers.Core.Helper

@rendermode RenderMode.InteractiveServer

<PageHeader Title="@Loc["LoginLogPage_Title"]">
    <MudGrid Spacing="2" Justify="Justify.FlexStart">
        <MudItem xs="12" sm="9" md="6">
            <MudTextField @bind-Value="searchObject.SearchedLoginName" Label="@Loc["LoginLogPage_TableH2"]" Clearable="true"
                          Margin="Margin.Dense" Variant="Variant.Outlined" Class="search-com w-100"></MudTextField>
        </MudItem>
    </MudGrid>

    <div class="mt-3 d-flex">
        <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Search" OnClick="()=>dataGrid.ReloadServerData()"
                       Variant="Variant.Outlined" Color="Color.Primary" Class="mr-2"></MudIconButton>
        <MudTooltip Text="重置搜索" Color="Color.Primary">
            <MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.SearchOff" OnClick="SearchReset"
                           Variant="Variant.Outlined" Color="Color.Primary"></MudIconButton>
        </MudTooltip>
    </div>
</PageHeader>

<MudDataGrid Dense=PageDataGridConfig.Dense Filterable=PageDataGridConfig.Filterable ColumnResizeMode=PageDataGridConfig.ColumnResizeMode
             SortMode=PageDataGridConfig.SortMode Groupable=PageDataGridConfig.Groupable Virtualize=PageDataGridConfig.Virtualize
             FixedHeader=PageDataGridConfig.FixedHeader Elevation=PageDataGridConfig.Elevation Outlined=PageDataGridConfig.Outlined
             Style="@PageDataGridConfig.Style" HorizontalScrollbar="PageDataGridConfig.HorizontalScrollbar"
             ServerData="GetTableData" @ref="dataGrid" T="LoginLogModel">
    <Columns>
        <PropertyColumn Property="x => x.Number" Title="@Loc["LoginLogPage_TableH1"]" StickyLeft="true"
                        HeaderStyle="white-space:nowrap;width:40px;" Resizable="false" />
        <PropertyColumn Property="x => x.UserName" Title="@Loc["LoginLogPage_TableH2"]"
                        HeaderStyle="white-space:nowrap" />
        <PropertyColumn Property="x => x.Time" Title="@Loc["LoginLogPage_TableH3"]"
                        HeaderStyle="white-space:nowrap" CellStyle="white-space:nowrap" />
        <PropertyColumn Property="x => x.Ip" Title="@Loc["LoginLogPage_TableH4"]"
                        HeaderStyle="white-space:nowrap" />
        <TemplateColumn Title="@Loc["LoginLogPage_TableH5"]" HeaderStyle="white-space:nowrap">
            <CellTemplate>
                @if (context.Item.IsSuccessd)
                {
                    <MudChip T="string" Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Primary">@Loc["LoginLogPage_LoginSuccess"]</MudChip>
                }
                else
                {
                    <MudChip T="string" Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Error">@Loc["LoginLogPage_LoginFail"]</MudChip>
                }
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.Agent" Title="@Loc["LoginLogPage_TableH6"]" Resizable="false"
                        HeaderStyle="white-space:nowrap;width:250px;" CellStyle="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" />
    </Columns>
</MudDataGrid>

<PagePagination PageInfo="searchObject" PageChangedClick="PageChangedClick"></PagePagination>