
<div class="d-flex flex-column pa-2" style="width:100%;height:100%;overflow:auto">
	<MudText Typo="Typo.h6" Class="mb-4">基本设置</MudText>

	<MudText Typo="Typo.subtitle1" Class="mb-4">账号信息</MudText>

	<MudPaper Outlined="true" Class="pa-2">
		<MudList DisablePadding="true">
			<MudListItem>
				<div class="d-flex">
					<MudText>头像</MudText>
					<MudSpacer />
					<MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
						<ButtonTemplate>
							<MudIconButton for="@context.Id" HtmlTag="label">
								@if (string.IsNullOrEmpty(_user.Avatar))
								{
									<MudAvatar Size="Size.Small" Color="_themeState.IsDark ? Color.Primary : Color.Dark">
										@_user.RealName.First()
									</MudAvatar>
								}
								else
								{
									<MudAvatar>
										<MudImage Src="@("Avatars/" + _user.Avatar)"></MudImage>
									</MudAvatar>
								}
							</MudIconButton>
						</ButtonTemplate>
					</MudFileUpload>
				</div>
			</MudListItem>
			<MudDivider />
			<MudListItem>
				<div class="d-flex">
					<MudText>用户名</MudText>
					<MudSpacer />
					@if (!_isEditUserName)
					{
						<MudText @onclick="EditUserName">@_user.Name</MudText>
					}
					else
					{
						<MudTextField @bind-Value="_editUserName" Immediate="true" @onblur="EditUserNameBlur"
									  Margin="Margin.Dense" Variant="Variant.Outlined"></MudTextField>
					}
				</div>
			</MudListItem>
			<MudDivider />
			<MudListItem>
				<div class="d-flex">
					<MudText>姓名</MudText>
					<MudSpacer />
					<MudText @onclick="EditRealName">@_user.RealName</MudText>
					</div>
				</MudListItem>
				<MudDivider />
				<MudListItem>
					<div class="d-flex">
						<MudText>密码</MudText>
						<MudSpacer></MudSpacer>
						<MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="ChangePwd">修改</MudButton>
					</div>
				</MudListItem>
			</MudList>
		</MudPaper>
	</div>