@page "/menu"
@using BlazorAdmin.Shared.Components

<div class="d-flex" style="height:100%;">
	<div class="flex-0" style="width:340px;overflow:auto;">
		<MudButton Class="mb-2 mr-2" Color="Color.Default" StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled"
				   OnClick="AddMenuClick">添加</MudButton>
		<MudButton Class="mb-2 mr-2" Color="Color.Default" StartIcon="@Icons.Material.Filled.Remove" Variant="Variant.Filled"
				   OnClick="DeleteMenuClick">删除</MudButton>
		<MudDivider Class="mb-2" />
		<MudTreeView Items="@MenuItems" Hover="true" T="MenuItem" @bind-SelectedValue="SelectedMenuItem">
			<ItemTemplate>
				<MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.Childs" Value="context">
					<Content>
						<MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="context.Childs.Count > 0" />
						@if (!string.IsNullOrEmpty(context.Icon))
						{
							<MudIcon Icon="@context.Icon"></MudIcon>
						}
						<MudText Typo="Typo.subtitle2" Style="user-select:none;">@context.MenuName</MudText>
						<div class="identify" style="display:none;">@context.Id</div>
						<MudSpacer />
						<MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Edit" OnClick="()=>EditMenuClick(context.Id)"
									   Color="Color.Inherit"></MudIconButton>
						<MudIcon Icon="@Icons.Material.Filled.DragHandle" Class="draghandle cursor-grabbing" />
					</Content>
				</MudTreeViewItem>
			</ItemTemplate>
		</MudTreeView>
	</div>
	<MudDivider Vertical="true" />
	<div class="flex-1">

		@if (EditVisible)
		{
			<div class="pa-4">
				<EditForm Model="MenuEditModel" OnValidSubmit="EditSubmit" style="width:100%;">
					<DataAnnotationsValidator />
					@if (MenuEditModel.Type == 1)
					{
						<IconSelect @bind-SelectedIcon="MenuEditModel.Icon" />
					}
					<MenuTreeSelect @bind-SelectedValue="MenuEditModel.ParentId" />
					<MudTextField Class="mt-4" @bind-Value="MenuEditModel.Name" Variant="Variant.Outlined" Margin="Margin.Dense"
								  Placeholder="请输入菜单名称" For="@(() => MenuEditModel.Name)"
								  UserAttributes="InputAttributes" Label="菜单名称"></MudTextField>
					<MudRadioGroup @bind-SelectedOption="MenuEditModel.Type">
						<MudRadio Option="1" Color="Color.Primary" Size="Size.Small">菜单</MudRadio>
						<MudRadio Option="2" Color="Color.Primary" Size="Size.Small">页面元素</MudRadio>
					</MudRadioGroup>
					@if (MenuEditModel.Type == 1)
					{
						<MudTextField Class="mt-4" @bind-Value="MenuEditModel.Route" Variant="Variant.Outlined" Margin="Margin.Dense"
									  Placeholder="请输入路由" For="@(() => MenuEditModel.Route)"
									  UserAttributes="InputAttributes"></MudTextField>
					}
					else
					{
						<MudTextField Class="mt-4" @bind-Value="MenuEditModel.Identify" Variant="Variant.Outlined" Margin="Margin.Dense"
									  Placeholder="请输入页面元素标识" For="@(() => MenuEditModel.Identify)"
									  UserAttributes="InputAttributes"></MudTextField>
					}

					<div class="d-flex mt-4">
						<MudSpacer />
						<MudButton Variant="Variant.Filled" Color="Color.Default" Class="mr-4"
								   ButtonType="ButtonType.Button" StartIcon="@Icons.Material.Filled.Cancel" OnClick="CancelClick">取消编辑</MudButton>
						<MudButton Variant="Variant.Filled" Color="Color.Primary"
								   ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Upload">提交</MudButton>
					</div>
				</EditForm>
			</div>
		}
	</div>
</div>

