@page "/user"

<div class="d-flex justify-between align-center mb-4">
	<MudText Typo="Typo.h5">@Loc["UserPage_Title"]</MudText>
	<MudSpacer />
	<div style="width:300px">
		<MudTextField T="string" @bind-Value="SearchText" Margin="Margin.Dense" Placeholder="@Loc["UserPage_SearchKeywordPlaceholder"]"></MudTextField>
	</div>
	<MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Search" OnClick="InitialData"
				   Variant="Variant.Text" Color="Color.Primary"></MudIconButton>
	<MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Add" OnClick="AddUserClick"
				   Variant="Variant.Text" Color="Color.Primary"></MudIconButton>
</div>
<MudTable Class="mb-4" Items="@Users" Hover="true" Breakpoint="Breakpoint.Sm"
		  LoadingProgressColor="Color.Info" Dense="true">
	<ColGroup>
		<col style="min-width:100px;width:100px;max-width:100px;" />
		<col style="min-width:150px;" />
		<col style="min-width:150px;" />
		<col style="min-width:150px;" />
		<col style="min-width:100px;width:100px;max-width:100px;" />
	</ColGroup>
	<HeaderContent>
		<MudTh>@Loc["UserPage_TableH1"]</MudTh>
		<MudTh>@Loc["UserPage_TableH2"]</MudTh>
		<MudTh>@Loc["UserPage_TableH3"]</MudTh>
		<MudTh>@Loc["UserPage_TableH4"]</MudTh>
		<MudTh>@Loc["UserPage_TableH5"]</MudTh>
	</HeaderContent>
	<RowTemplate>
		<MudTd DataLabel="@Loc["UserPage_TableH1"]">@context.Number</MudTd>
		<MudTd DataLabel="@Loc["UserPage_TableH2"]">
			<MudAvatar Color="Color.Primary">@context.Name.First()</MudAvatar>
		</MudTd>
		<MudTd DataLabel="@Loc["UserPage_TableH3"]">@context.Name</MudTd>
		<MudTd DataLabel="@Loc["UserPage_TableH4"]">
			<MudSwitch Checked="@context.IsEnabled" T="bool" CheckedChanged="v=>ChangeUserActive(context.Id,v)" Color="Color.Primary">
			</MudSwitch>
		</MudTd>
		<MudTd DataLabel="@Loc["UserPage_TableH5"]">
			<MudStack Row>
				<MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error"
							   OnClick="()=>DeleteUserClick(context.Id)" />
				<MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary"
							   OnClick="()=>EditUserClick(context.Id)" />
				<MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Outlined.Key" Color="Color.Secondary"
							   OnClick="()=>ChangePasswordClick(context.Id)" />
				<MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Outlined.LockPerson" Color="Color.Tertiary"
							   OnClick="()=>SetUserRoleClick(context.Id)" />
			</MudStack>
		</MudTd>
	</RowTemplate>
</MudTable>
<div class="d-flex justify-between align-center">
	<MudSpacer />
	<MudPagination Color="Color.Primary" Count="@((Total - 1)/Size + 1)" Selected="@Page" SelectedChanged="PageChangedClick" />
</div>