@page "/auditLog"

<div class="d-flex align-center mb-4">
	<MudText Typo="Typo.h5">@Loc["AuditLogPage_Title"]</MudText>
	<MudSpacer />
	<div style="width:140px" class="mr-2">
		<MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH3"]"
				   AnchorOrigin="Origin.BottomCenter" @bind-Value="SelectedUser" Clearable>
			@foreach (var o in Operators)
			{
				<MudSelectItem Value="@o.Id.ToString()">@o.UserName</MudSelectItem>
			}
		</MudSelect>
	</div>
	<div style="width:140px" class="mr-2">
		<MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH4"]"
				   AnchorOrigin="Origin.BottomCenter" @bind-Value="SelectedOperateTarget" Clearable>
			@foreach (var o in OperateTargets)
			{
				<MudSelectItem Value="@o.EntityName">@o.DisplayName</MudSelectItem>
			}
		</MudSelect>
	</div>
	<div style="width:140px" class="mr-2">
		<MudSelect T="string" Dense="true" Label="@Loc["AuditLogPage_TableH5"]"
				   AnchorOrigin="Origin.BottomCenter" @bind-Value="SelectedOperation" Clearable>
			<MudSelectItem Value="@("2")">@Loc["AuditLogPage_OperationDelete"]</MudSelectItem>
			<MudSelectItem Value="@("3")">@Loc["AuditLogPage_OperationModify"]</MudSelectItem>
			<MudSelectItem Value="@("4")">@Loc["AuditLogPage_OperationCreate"]</MudSelectItem>
		</MudSelect>
	</div>
	<MudIconButton Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Search" OnClick="InitialAsync"
				   Variant="Variant.Text" Color="Color.Primary"></MudIconButton>
</div>
<MudTable Class="mb-4" Items="@AuditLogs" Hover="true" Breakpoint="Breakpoint.Sm"
		  LoadingProgressColor="Color.Info" Dense="true">
	@*	<ColGroup>
	<col style="min-width:100px;width:100px;max-width:100px;" />
	<col style="min-width:150px;" />
	<col style="min-width:150px;" />
	<col style="min-width:150px;" />
	<col style="min-width:150px;" />
	<col style="min-width:150px;" />
	<col style="min-width:70px;width:70px;max-width:70px;" />
	</ColGroup>*@
	<HeaderContent>
		<MudTh>@Loc["AuditLogPage_TableH1"]</MudTh>
		<MudTh>@Loc["AuditLogPage_TableH2"]</MudTh>
		<MudTh>@Loc["AuditLogPage_TableH3"]</MudTh>
		<MudTh>@Loc["AuditLogPage_TableH4"]</MudTh>
		<MudTh>@Loc["AuditLogPage_TableH5"]</MudTh>
		<MudTh>@Loc["AuditLogPage_TableH6"]</MudTh>
		<MudTh>@Loc["AuditLogPage_TableH7"]</MudTh>
	</HeaderContent>
	<RowTemplate>
		<MudTd DataLabel="@Loc["AuditLogPage_TableH1"]">@context.Number</MudTd>
		<MudTd DataLabel="@Loc["AuditLogPage_TableH2"]">@context.TransactionId</MudTd>
		<MudTd DataLabel="@Loc["AuditLogPage_TableH3"]">@context.UserName</MudTd>
		<MudTd DataLabel="@Loc["AuditLogPage_TableH4"]">@context.EntityName</MudTd>
		<MudTd DataLabel="@Loc["AuditLogPage_TableH5"]">
			@if (context.Operation == 2)
			{
				<MudChip Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Warning">@Loc["AuditLogPage_OperationDelete"]</MudChip>
			}
			else if (context.Operation == 3)
			{
				<MudChip Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Tertiary">@Loc["AuditLogPage_OperationModify"]</MudChip>
			}
			else if (context.Operation == 4)
			{
				<MudChip Variant="Variant.Outlined" Size="MudBlazor.Size.Small" Color="Color.Primary">@Loc["AuditLogPage_OperationCreate"]</MudChip>
			}
		</MudTd>
		<MudTd DataLabel="@Loc["AuditLogPage_TableH6"]">@context.OperateTime</MudTd>
		<MudTd DataLabel="@Loc["AuditLogPage_TableH7"]">
			<MudStack Row>
				<MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Outlined.Details" Color="Color.Primary"
							   OnClick="()=>ViewDetail(context.Id)" />
			</MudStack>
		</MudTd>
	</RowTemplate>
</MudTable>
<div class="d-flex justify-between align-center">
	<MudSpacer />
	<MudPagination Color="Color.Primary" Count="@((Total - 1)/Size + 1)" Selected="@Page" SelectedChanged="PageChangedClick" />
</div>