<MudDialog DisableSidePadding="false">
	<DialogContent>
		<div style="width:300px;" class="pb-4 my-4">
			<MudText Typo="Typo.h6">设置角色菜单</MudText>

			<MudTreeView T="MenuTreeItem" Items="@MenuTreeItemSet" Hover="true">
				<ItemTemplate>
					<MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.Childs" Value="context">
						<Content>
							<MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="context.Childs.Count > 0" />
							<MudCheckBox Checked="@context.IsChecked" Dense="true" T="bool" CheckedChanged="@((v) => CheckedChanged(v,context))"></MudCheckBox>
							<MudText Typo="Typo.subtitle2" Style="user-select:none;">@context.MenuName</MudText>
							<MudSpacer />
						</Content>
					</MudTreeViewItem>
				</ItemTemplate>
			</MudTreeView>

			<MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Upload" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary"
					   OnClick="SubmitRoleMenu">提交</MudButton>
		</div>
	</DialogContent>
</MudDialog>